@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

* {
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
}

body {
    background: #F5F5F5;
    -webkit-font-smoothing: antialiased;
    scroll-behavior: smooth;
    font-family: 'Roboto', sans-serif;
}

a,
a:visited,
a:hover,
a:active {
    text-decoration: none;
}

/* -----------------------HEADER */
/* ------hightHeader */
header {
    background: #ffffff;
}

#highHeader {
    position: relative;
    width: 100%;
    height: 75px;
    box-sizing: border-box;
    border-bottom: 1px solid #EDEDED;
    padding: 28px 25px;
}

.leftside {
    position: absolute;
    display: flex;
    left: 25px;
}

#overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vw;
    z-index: 2;
    background-color: rgba(0, 0, 0, 0.5);
    overflow: hidden;
}

.burgerNav {
    cursor: pointer;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 3;
    top: 0;
    left: 0;
    background-color: #fff;
    overflow-x: hidden;
    padding-top: 60px;
    transition: 0.2s;
    box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.1);
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 18px;
    color: #333;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #00AEEF;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}


.notification {
    position: relative;
    margin: 0px 25px;
}

.dot {
    height: 5px;
    width: 5px;
    left: 13px;
    top: -1px;
    background-color: #EE2316;
    border-radius: 50%;
    display: inline-block;
    position: absolute;
}

.order {
    display: flex;
}

.order p {
    margin-left: 5px;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
    align-items: center;
    color: #333333;
}

.logo {
    width: 230px;
    height: 45px;
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.rightside {
    position: absolute;
    right: 0px;
    display: flex;
}

.lang:focus {
    outline: -webkit-focus-ring-color auto 0px;
}

.lang {
    margin: 0 40px 0 25px;
    display: inline-block;
    transition: all .3s ease;
    position: relative;
    box-sizing: border-box;
}

.lang .select {
    cursor: pointer;
    display: block;
    display: flex;
}

.lang .select p {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
    align-items: center;
    text-align: right;
    margin-left: 3px;
    color: #333333;
}

.lang .select>i {
    position: absolute;
    cursor: pointer;
    transition: all .3s ease-in-out;
    right: -13px;
    top: 8px;

}

.lang.active .select>i {
    transform: rotate(-180deg)
}

.lang .dropdown-menu {
    font-size: 14px;
    position: absolute;
    background-color: #fff;
    width: 65px;
    left: 0;
    text-align: center;
    margin-top: 39px;
    overflow: hidden;
    display: none;
    box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.1);
    max-height: max-content;
    overflow-y: auto;
    z-index: 9
}

.lang .dropdown-menu li {
    padding: 10px;
    transition: all .3s ease-in-out;
    cursor: pointer
}

.lang .dropdown-menu {
    padding: 0;
    list-style: none
}

.lang .dropdown-menu li:hover {
    background-color: #00AEEF;
    color: #ffffff;
}

.lang .dropdown-menu li:active {
    background-color: #00AEEF
}

.profile {
    display: flex;
}

.profile img {
    margin-top: -10px;
    margin-right: 7px;
    border-radius: 50%;
}

.profileFunction {
    display: flex;
    position: relative;
}

.profileFunction p {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;

    color: #333333;
}


.profile:focus {
    outline: -webkit-focus-ring-color auto 0px;
}

.profile {
    margin: 0 40px 0 0px;
    display: inline-block;
    transition: all .3s ease;
    position: relative;
    box-sizing: border-box;
}

.profile .choiseFunc {
    cursor: pointer;
    display: block;
    display: flex;
}

.profile .choiseFunc p {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
    align-items: center;
    text-align: right;
    margin-left: 3px;
    color: #333333;
}

.profile .choiseFunc>.profileFunction i {
    position: absolute;
    cursor: pointer;
    transition: all .3s ease-in-out;
    right: -13px;
    top: 8px;

}

.profile.active .choiseFunc>.profileFunction i {
    transform: rotate(-180deg)
}

.profile .dropdown-func {
    font-size: 14px;
    position: absolute;
    background-color: #fff;
    width: 262px;
    right: -35px;
    text-align: left;
    margin-top: 32px;
    overflow: hidden;
    display: none;
    box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.1);
    max-height: max-content;
    overflow-y: auto;
    z-index: 9;
    color: #333;
}

.profile .dropdown-func li {
    position: relative;
    display: flex;
    padding: 15px;
    transition: all .3s ease-in-out;
    cursor: pointer;
    border-bottom: 1px solid #EDEDED;
}

.profile .dropdown-func {
    padding: 0;
    list-style: none
}

.profile .dropdown-func li:hover {
    background-color: #00AEEF;
    color: #ffffff;
}

.profile .dropdown-func li:active {
    background-color: #00AEEF
}

.notice {
    padding: 1px 4px;
    background: #00AEEF;
    border-radius: 3px;
    color: #fff;
    position: absolute;
    right: 15;
}

.exit {
    color: #00AEEF;
}

/* ------downHeader */

#downHeader {
    max-width: 1128px;
    display: block;
    margin: 0 auto;
    height: 237px;
    background: #ffffff;
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
    padding: 0 156px;
}

#downHeader .nav {
    box-sizing: border-box;
    padding-top: 41px;
    display: flex;
    width: 100%;
    max-width: 1128px;
    height: 76px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
}

#downHeader .nav a {
    margin-right: 24px;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: rgba(51, 51, 51, 0.56);
    transition: ease all 0.2s;
}

#downHeader .nav .navActive {
    color: #333333;
    border-bottom: 1px solid #333333;
}

#downHeader .nav a:hover {
    color: #333333;
}

#downHeader h1 {
    margin: 32px 0 34px;
    font-style: normal;
    font-weight: normal;
    font-size: 32px;
    line-height: 37px;


    color: #464646;
}

.choiseBtn {
    width: 375px;
    height: 32px;
    box-sizing: border-box;
    border: 1px solid #00AEEF;
    border-radius: 16px;
    display: flex;
}

.midl {
    border-left: 1px solid #00AEEF;
    border-right: 1px solid #00AEEF;
}

.choiseBtn .choiseEl {
    width: 125px;
    text-align: center;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 32px;
    color: #00AEEF;
    cursor: pointer;
}

.choiseBtn .choiseElActive {
    background: #00AEEF;
    color: #fff;
}

/* -----------------------MAIN */
.container {
    padding: 0 156px;
    display: block;
    margin: 0 auto;
    max-width: 1128px;
}

main .waiting {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    margin: 21px 0px 11px;


    color: rgba(0, 0, 0, 0.56);
}

#mainBody {
    display: flex;
    margin-bottom: 40px;
}

/* ------ mainLeftSide*/

.tourCard {
    cursor: pointer;
    box-sizing: border-box;
    width: 360px;
    height: 234px;
    background: #FFFFFF;
    box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.1);
    border-radius: 3px;
    margin-bottom: 24px;
}

.tourCardActive {
    box-shadow: 0px 1px 10px rgba(0, 174, 239, 0.5);
}

.tourData {
    padding: 17px 15px 12px;
    box-sizing: border-box;
    height: 49px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
}

.tourData p {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    color: rgba(0, 0, 0, 0.56);
}

.tourBody {
    box-sizing: border-box;
    padding: 15px;

}

.tourBody h2 {
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 24px;
    color: rgba(0, 0, 0, 0.88);
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.tourBody .hotelStatus {
    display: flex;
    position: relative;
    margin-top: 12px;
}

.hotelStatus p {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    color: #9E9E9E;
}

.hotelStatus .raiting {
    position: absolute;
    right: 0;
}

.tourBody .hotelMembers {
    display: flex;
    position: relative;
    margin-top: 8px;
}

.hotelMembers .fly {
    position: absolute;
    right: 0;
    display: flex;
}

.tourText {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    color: rgba(0, 0, 0, 0.56);
}

.hotelMembers svg {
    margin-right: 9px;
}

.hotelPrice {
    position: relative;
    display: flex;
    margin-top: 20px;
    margin-bottom: 10px;
}

.hotelPrice p {
    position: absolute;
    right: 0;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
}

.hotelPrice h4 {
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
    color: #464646;
}

.howManyTour {
    display: none;
}

.caruselNavNext {
    display: none;
}

/* ------ fullCardInfo*/



.fullCardInfo {
    margin-left: 24px;
    box-sizing: border-box;
    width: 744px;
    background: #FFFFFF;
    box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.1);
    border-radius: 3px;
    margin-bottom: 24px;
}

.fullCardData {
    padding: 17px 24px 12px;
    box-sizing: border-box;
    height: 49px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
}

.fullCardData p {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    color: rgba(0, 0, 0, 0.56);
}

.fullCardBody {
    padding: 12px 24px 24px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
}

.fullCardBody h1 {
    font-style: normal;
    font-weight: normal;
    font-size: 32px;
    line-height: 37px;
    color: #464646;
}

.fullCardBody .hotelStatus {
    display: flex;
    position: relative;
    margin-top: 8px;
}

.fullCardBody .hotelStatus h3 {
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 24px;
    color: #9E9E9E;
    margin-right: 14px;
}

.fullRaiting {
    padding-top: 2px;
}

.fullRaiting svg {
    width: 20px;
    height: 19px;
}

.hotelInfo {
    display: flex;
    margin-top: 14px;
}

.info {
    margin-left: 27px;
}

.info .infoPoint {
    display: flex;
    margin-bottom: 8px;
}

.info .infoPoint svg {
    margin-right: 8px;
}

.info .infoPoint p {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    color: #464646;
    margin-right: 8px;
}

.info .infoPoint a {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    color: #9E9E9E;
    border-bottom: 1px solid #9E9E9E;
}

.fullCardBody .hotelPrice {
    display: flex;
    margin-top: 14px;
}

.fullCardBody .hotelPrice h2 {
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 24px;
    color: #464646;

    margin-right: 12px;
}

.waitConfirm {
    display: block;
    color: #FFB500;
}

.confitmPay {
    display: none;
    color: #00AEEF;
}

.fullCardBody .hotelPrice h3 {
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 24px;
}

.btnBlock {
    margin-top: 15px;
    display: flex;
}

.btnBlock button {
    cursor: pointer;
    outline: -webkit-focus-ring-color auto 0px;
}

.payOnline {
    margin-right: 10px;
    width: 163px;
    height: 44px;
    background: linear-gradient(270deg, #00D7F8 0%, #00AEEF 100%);
    border-radius: 3px;
    border-width: 0px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
}

.downloadInvoice {
    width: 263px;
    height: 44px;
    background: #FFFFFF;
    border: 1px solid #00AEEF;
    box-sizing: border-box;
    border-radius: 3px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #00AEEF;
}

.cancelOrder {
    margin-left: 25px;
    width: 212px;
    height: 44px;
    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.56);
    box-sizing: border-box;
    border-radius: 3px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: rgba(0, 0, 0, 0.56);
}



.paymentsAndDoc {
    box-sizing: border-box;
    padding: 0px 24px 24px;
}

.padTitle {
    box-sizing: border-box;
    height: 64px;
    display: flex;
    padding-top: 30px;
    margin-bottom: 15px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
}

.pad {
    margin-right: 22px;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: rgba(51, 51, 51, 0.56);
}

.padActive {
    color: #333333;
    border-bottom: 1px solid #333333;
}

.padBodyBlock {
    padding: 15px 0px;
    position: relative;
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
}

.padBodyBlock p {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    color: rgba(0, 0, 0, 0.56);
}

.blockTit {
    color: #333333 !important;
    font-weight: 500;
}

.blockHref {
    display: flex;
    position: relative;
}

.href {
    position: absolute;
    right: 0;
}

.hrefMob {
    display: none;
}

.href a {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    margin-left: 25px;
    text-transform: uppercase;
    text-align: right;
    color: #00AEEF;
}

.paymentsAndDoc .btnBlock {
    margin-top: 20px;
}

.paymentsAndDoc .btnBlock p {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 44px;
    color: #333333;
    margin-left: 16px;
}

/* -----------------------FOOTER */
footer {
    padding-top: 60px !important;
    padding-bottom: 30px !important;
    background: #fff;
}

.footLogo {
    margin-bottom: 40px;
}

.blockCombo {
    display: flex;
    margin-bottom: 30px;
}

.footBlock {
    width: 17%;
    margin: 0 auto 0 0;
}

.footBlock p {
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 44px;
    margin-bottom: 20px;
    color: rgba(0, 0, 0, 0.56);
}

.footBlock ol {
    cursor: pointer;
    font-size: 12px;
    color: #333333;
    margin-bottom: 15px;
}

.copyrigth {
    font-size: 16px;
    color: rgba(0, 0, 0, 0.56);
    margin-bottom: 20px;
}

@media (max-width: 1158px) {

    #highHeader {
        height: 40px;
        padding: 15px 15px;
    }

    .leftside {
        left: 15px;
    }

    .order {
        display: none;
    }

    .logo {
        width: 150px;
        height: 30px;
    }

    .logo img {
        width: 150px;
        height: 30px;
    }

    .rightside {
        position: absolute;
        right: 15px;
        display: flex;
    }

    .lang {
        display: none;
    }

    .tel {
        display: none;
    }

    .profile {
        margin: 0px;
    }

    .profile img {
        width: 28px;
        height: 28px;
        margin-top: -10px;
        margin-right: 0px;
    }

    .profileFunction {
        display: none;
    }

    /* ------downHeader */

    #downHeader {
        display: block;
        margin: 0 auto;
        height: 237px;
        background: #ffffff;
        border-bottom: 1px solid rgba(0, 0, 0, 0.12);
        padding: 0 15px;
    }

    #downHeader .nav {
        box-sizing: border-box;
        padding-top: 41px;
        display: flex;
        width: 100%;
        overflow: hidden;
        max-width: 100%;
        height: 76px;
        border-bottom: 1px solid rgba(0, 0, 0, 0.12);
    }

    #downHeader .nav a {
        margin-right: 24px;
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 19px;
        color: rgba(51, 51, 51, 0.56);
        transition: ease all 0.2s;
    }

    #downHeader .nav .navActive {
        color: #333333;
        border-bottom: 1px solid #333333;
    }

    #downHeader .nav a:hover {
        color: #333333;
    }

    #downHeader h1 {
        margin: 32px 0 34px;
        font-style: normal;
        font-weight: normal;
        font-size: 32px;
        line-height: 37px;


        color: #464646;
    }

    .choiseBtn {
        width: 375px;
        height: 32px;
        box-sizing: border-box;
        border: 1px solid #00AEEF;
        border-radius: 16px;
        display: flex;
    }

    .midl {
        border-left: 1px solid #00AEEF;
        border-right: 1px solid #00AEEF;
    }

    .choiseBtn .choiseEl {
        width: 125px;
        text-align: center;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 32px;
        color: #00AEEF;
        cursor: pointer;
    }

    .choiseBtn .choiseElActive {
        background: #00AEEF;
        color: #fff;
    }

    /* -----------------------MAIN */
    .container {
        padding: 0 15px;
        display: block;
        margin: 0 auto;
    }

    main .waiting {
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 19px;
        margin: 21px 0px 11px;


        color: rgba(0, 0, 0, 0.56);
    }

    #mainBody {
        flex-direction: column;
        margin-bottom: 40px;
    }

    /* ------ mainLeftSide*/

    .tourCard {
        width: 100%;
    }

    /* ------ fullCardInfo*/

    .fullCardInfo {
        width: 100%;
        margin-left: 0;
    }
}

@media (max-width: 768px) {



    .notification {
        display: none;
    }

    /* ------downHeader */

    #downHeader {
        display: block;
        margin: 0 auto;
        height: 176px;
        background: #ffffff;
        border-bottom: 1px solid rgba(0, 0, 0, 0.12);
        padding: 0 15px;
    }

    #downHeader .nav {
        box-sizing: border-box;
        padding-top: 16px;
        display: flex;
        width: 1128px;
        overflow-x: scroll;
        max-width: 100%;
        height: 52px;
        border-bottom: none;
    }

    #downHeader .nav::-webkit-scrollbar {
        width: 0;
        display: none;
    }


    #downHeader .nav a {
        width: 50%;
        white-space: nowrap;
        margin: 0 12px;
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 20px;
        color: rgba(51, 51, 51, 0.56);
        transition: ease all 0.2s;
    }

    #downHeader .nav .navActive {
        scroll-margin: 30vw;
        color: #333333;
        border-bottom: 1px solid #00AEEF;
    }

    #downHeader .nav a:hover {
        color: #333333;
    }

    #downHeader h1 {
        margin: 18px 0 20px;
        font-weight: 300;
        font-size: 28px;
        line-height: 39px;
        text-align: center;
    }

    .choiseBtn {
        width: 295px;
        height: 30px;
        margin: 0 auto;
    }

    .choiseBtn .choiseEl {
        width: 33, 3333%;
        font-size: 12px;
        line-height: 30px;
    }

    /* -----------------------MAIN */
    .container {
        padding: 0 15px;
        display: block;
        margin: 0 auto;
    }

    main .waiting {
        display: none;
    }

    #mainBody {
        flex-direction: column;
        margin-bottom: 0px;
    }

    /* ------ mainLeftSide*/
    .howManyTour {
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 24px;
        /* identical to box height, or 150% */
        display: block;
        text-align: center;
        margin-bottom: 15px;
        color: rgba(0, 0, 0, 0.56);
    }

    #caruselNavNext {
        width: 38px;
        height: 38px;
        background: rgba(0, 0, 0, 0.15);
        border-radius: 50%;
        position: absolute;
        right: 20px;
        bottom: 40%;
        display: block;
        box-sizing: border-box;
        padding:13px 15px 14px 16px; 
    }

    .mainLeftSide {
        position: relative;
        margin-top: 0px;
        display: flex;
        overflow-x: hidden;
        /* overflow-x: auto; */
        padding-top: 24px;
        scroll-behavior: smooth;
        -webkit-overflow-scrolling: touch;
    }

    .mainLeftSide::-webkit-scrollbar {
        width: 0;
    }


    .tourCard {
        display: block;
        margin: 0 40px 11px;
        width: 264px;
    }

    .tourData {
        padding: 11px 15px;
        height: 38px;
    }

    .tourData p {
        font-size: 12px;
        line-height: 20px;
    }

    .tourBody {
        box-sizing: border-box;
        padding: 10px 15px 13px;

    }

    .hotelStatus p {
        font-size: 12px;
        line-height: 20px;
    }

    .hotelStatus svg {
        height: 12px;
        width: 12px;
    }

    .hotelStatus .raiting {
        position: absolute;
        right: 0;
    }

    .tourBody .hotelMembers {
        margin-top: 6px;
    }

    .hotelMembers .hotelMembers svg {
        width: 13px;
        height: 13px;
    }

    .hotelMembers .fly svg {
        width: 13px;
        height: 13px;
        margin-top: 3px;
    }

    .tourText {
        font-size: 12px;
        line-height: 20px;
    }

    .hotelMembers svg {
        margin-right: 4px;
    }

    .hotelPrice {
        position: relative;
        display: flex;
        margin-top: 20px;
        margin-bottom: 10px;
    }

    .hotelPrice p {
        font-size: 12px;
        line-height: 20px;
    }

    .hotelPrice h4 {
        font-size: 14px;
        line-height: 24px;
    }

    /* ------ fullCardInfo*/

    .fullCardInfo {
        width: 100%;

    }

    .fullCardData {
        padding: 11px 15px 10px;
        height: 38px;
    }

    .fullCardData p {
        font-size: 12px;
        line-height: 20px;
    }

    .fullCardBody {
        padding: 10px 15px 0px;
        border-bottom: none;
    }

    .fullCardBody h1 {
        font-size: 20px;
        line-height: 24px;
        color: #333333;
    }

    .fullCardBody .hotelStatus {
        position: relative;
        margin-top: 10px;
    }

    .fullCardBody .hotelStatus h3 {
        font-size: 14px;
        line-height: 20px;
        margin-right: 19px;
    }

    .fullRaiting {
        padding-top: 0px;
    }

    .fullRaiting svg {
        width: 12px;
        height: 12px;
    }

    .hotelInfo img {
        display: none;
    }

    .hotelInfo {
        flex-direction: column;
        margin-top: 10px;
    }

    .info {
        margin-left: 0px;
    }

    .info .infoPoint {
        margin-bottom: 10px;
    }

    .info .infoPoint svg {
        margin-right: 6px;
    }

    .info .infoPoint p {
        font-size: 14px;
    }

    .fullCardBody .hotelPrice {
        display: flex;
        margin-top: 15px;
    }

    .fullCardBody .hotelPrice h2 {
        font-size: 16px;
        line-height: 24px;
        margin-right: 12px;
    }

    .confitmPay {
        display: block;
    }

    .waitConfirm {
        display: none;
    }

    .fullCardBody .hotelPrice h3 {
        font-size: 12px;
        line-height: 24px;
        margin: 0 0 0 auto;
    }

    .btnBlock {
        margin-top: 11px;
        flex-direction: column;
    }

    .btnBlock button {
        cursor: pointer;
        outline: -webkit-focus-ring-color auto 0px;
    }

    .payOnline {
        margin-right: 0px;
        margin-bottom: 14px;
        width: 100%;
        height: 50px;
        font-size: 18px;
        line-height: 50px;
    }

    .downloadInvoice {
        width: 100%;
        height: 75px;
        font-size: 18px;
        line-height: 21px;
        margin-bottom: 19px;
        padding: 0 35px;
    }

    .cancelOrder {
        margin-left: 0px;
        width: 100%;
        height: 50px;
        font-size: 18px;
        line-height: 50px;
    }



    .paymentsAndDoc {
        box-sizing: border-box;
        padding: 0px 15px 17px;
    }

    .padTitle a {
        width: 50%;
        text-align: center;
    }

    .pad {
        margin-right: 0px;
    }

    .padTitle {
        margin-bottom: 0px;
    }


    .padBodyBlock p {
        font-size: 14px;
    }


    .blockHref {
        flex-direction: column;
        position: initial;
    }

    .href {
        display: none;
    }

    .hrefMob {
        display: block;
        margin-top: 6px;
    }

    .hrefMob a {
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 16px;
        text-transform: uppercase;
        color: #00AEEF;
    }

    /* -----------------------FOOTER */
    footer {
        padding-top: 40px !important;
        padding-bottom: 30px !important;
        background: #fff;
    }

    .footLogo {
        width: 170px;
        display: block;
        margin: 0 auto 20px;
    }

    .footLogo svg {
        width: 170px;
    }

    .blockCombo {
        flex-direction: column;
        margin-bottom: 30px;
    }

    .footBlock {
        width: 100%;
    }

    .blockCountry {
        display: none;
    }

    .footBlock p {
        text-align: center;
        text-decoration: underline;
        line-height: 30px;
        margin-bottom: 15px;
    }

    .footBlock ul {
        display: none;
    }

    .firstCop {
        display: none;
    }

    .copyrigth {
        text-align: center;
        font-size: 16px;
        color: rgba(0, 0, 0, 0.56);
        margin-bottom: 20px;
    }
}